*{
  box-sizing: border-box;
}
body{
  margin:0;
  background-color: #373B69;
      position:relative;
    font-family: 'Mulish', sans-serif;
    transition:.5s;



}
main{
  position:relative;
  display:inline-block;
  flex-wrap:wrap;
  margin-left: 30px;
  transition:.5s;

}
.movie{
  transition: all .1s ease-in-out;
  position:relative;
  display:inline-block;
  cursor:pointer;
  background-color:#378D;
  width:200px;
  border-radius: 10px;
  overflow:hidden;
  margin:1rem;
/*   padding:10px; */
  position:relative;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.movie:hover{
  transform: scale(1.1); 
}

.movie img{
  width:100%;
 display:flex;

}
.movie-info{
  font-size:12px;
  color:#EBE5E2;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0.5rem 1rem 1rem;

}
.movie-info span{
    background-color: #22254b;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;

}
.movie-info h3{
  margin:0;
}

.green{
  color:green;
}
.red{
  color: red;
}
.orange{
  color: orange;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

#form {
  justify-content: end;
  margin:20px 30px;
  margin-bottom:0px;
  width: 60%;
  position: relative;
  display: flex;
  padding:9px;

}

#search {
  border: none;
  background-color: #F0F8FF;
  display: flex;
  width: 50%;
  border-radius: 3px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  padding:0px 10px;
}

#search:focus{
  color: black;
  font-size:1rem;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid white;
  background: #483D8B;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

main.active{
filter:blur(10px);
transition:.4s;

}

#popup{
position:fixed;
top:10%;
left:5%;
right:20%;
width:90%;
background:#F2F4F9;
flex-wrap:wrap;
padding:40px;
border-radius:5px;

visibility:hidden;
opacity:0; 
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
transition:.5s;

}

#popup.activity{
transition:.5s;
/* top:20%; */
visibility: visible;
opacity:1;
}

#popup h2{
display:inline;
font-size:2rem;


}
#popup p{
display:inline;
margin-left:1rem;
font-size:14px; 
color:#0F64D7;
}
#popup .h{
position:absolute;
font-size:13px;
margin-top:0px;
display:block;
color:#5793E4;
font-weight: lighter;
}


.popupIMG{
width:200px;
margin-top:10px;
margin-bottom:15px;
}
.popupDiv{
display:flex;
gap:2em;
margin-top:20px;
padding-right:50px;
}
.popupDiv h3{
font-size:1.4rem;
}

.side{
display:flex;
align-items:center;
gap:2em;
margin-top:20px;
}
.btn{
/*   display:block; */
margin-left:0px;
border-radius:25px;
border:1.5px solid black;
background:white;
width:65px;
padding:5px;
margin-top:10px;

}
button:hover{
background:#D79798;
cursor:pointer;
}

#popup h4{
display:inline;

}
#popup button{
margin-right:5rem;
}




